# node modules & build artifacts
node_modules
dist
build/
out/
*.tsbuildinfo

# Electron build artifacts
electron/*.js
electron/*.ts
electron/*.map

# Editor & OS files
.vscode
.DS_Store

# Logs
*.log

# SSH/VNC/PTY cache
.vnc_cache/
pty_output/
.pty_node/

# Misc
*.swp
*.swo
.idea/
.env
.env.*